<!DOCTYPE html>
<html>
<head>
    <title>Finanzas MVP</title>
</head>
<body>
    <h1>Finanzas Personales</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="text" name="password" placeholder="Clave PDF">
        <select name="bank_id" required>
            <option value="0">-- Selecciona --</option>
            <option value="1">Bancolombia</option>
            <option value="2">Nu</option>
</select>
        <button type="submit">Subir Extracto</button>
    </form>
</body>
</html>
